@import url(reset.css);

header, main, footer{
    border: solid 1px;
}


.title{
    font-size: 3em;
}

.challenges{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
}

.challenge-card{
    background-color: #262626e9;
    color: #f1f1f1;
    border-radius: 1rem;
    padding: 2em;
    width: fit-content;
    height: auto;
}




